<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="sidebar-title">Telecom Manager</div>

    <a
      mat-button
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </a>

    <a mat-button routerLink="/operadoras" routerLinkActive="active-link">
      <mat-icon>business</mat-icon>
      Operadoras
    </a>

    <a mat-button routerLink="/contratos" routerLinkActive="active-link">
      <mat-icon>description</mat-icon>
      Contratos
    </a>

    <a mat-button routerLink="/faturas" routerLinkActive="active-link">
      <mat-icon>receipt</mat-icon>
      Faturas
    </a>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
